oip = "0.0.0.0" --修改ip
logfile = "/home/{{ansible_user_id}}/shaco.log" --修改日志文件

serverid = {{serverid}} ----修改自己的服务器Id
game_key = {{game_key}} --- 0是关闭激活码 1是开启激活码
gm_state = {{gm_state}} --100 --gm等级

gateport={{gateport}} 
cmdport={{cmdport}}
redis_port={{redis_port}}
billingport={{billingport}}

{% if billinghost == "nil" -%}
billinghost=nil
{% else -%}
billinghost="{{billinghost}}"
{% endif -%}
{% if billingpass == "nil" -%}
billingpass=nil
{% else -%}
billingpass="{{billingpass}}"
{% endif -%}


gamedb_host="{{gamedb_host}}" -- 修改mysql ip
gamedb_user="{{gamedb_user}}"      -- 修改mysql user
gamedb_passwd="{{gamedb_passwd}}"    -- 修改mysql passwd
gamedb_name="{{gamedb_name}}"      -- 修改mysql db
gamedb_port={{gamedb_port}}

gamestat_host="{{statdb_host}}"
gamestat_user="{{statdb_user}}"
gamestat_passwd="{{statdb_passwd}}"
gamestat_name="{{statdb_name}}"
gamestat_port={{statdb_port}}

logdb_host="{{logdb_host}}"
logdb_user="{{logdb_user}}"
logdb_passwd="{{logdb_passwd}}"
logdb_name="{{logdb_name}}"
logdb_port={{logdb_port}}

gamecommon_host="{{gamecommon_host}}"
gamecommon_user="{{gamecommon_user}}"
gamecommon_passwd="{{gamecommon_passwd}}"
gamecommon_name="{{gamecommon_name}}"
gamecommon_port={{gamecommon_port}}

uniquedb_host="{{uniquedb_host}}"
uniquedb_user="{{uniquedb_user}}"
uniquedb_passwd="{{uniquedb_passwd}}"
uniquedb_name="{{uniquedb_name}}"
uniquedb_port={{uniquedb_port}}

redis_host="{{redis_host}}"
redis_passwd="{{redis_passwd}}"

{% if player_whitelist is defined -%}
ipwhitelist="{{ player_whitelist|join(';') }}"
{% endif -%}
